:root {
  --background-color: #fffcdd;
  --Sunflower-gold: #F3B61F;
  --old-gold-green: #a29f15;
  --black-cherry: #510D0A;
  --pitch-brown: #191102;
}
html,body{
  font-size: 16px;
  margin: 0;
  
}


.form {
  
  text-align: center;
  color: var(--black-cherry);
  max-width: 700px;
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

form label {
  font-weight: 600;
  display: block;
  margin-top: 1rem;
}


.submit-button {
  background-color: var(--Sunflower-gold);
  color: var(--pitch-brown);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
}
.submit-button:hover {
  background-color: var(--old-gold-green);
}